* {
  box-sizing: border-box; }

@font-face {
  font-family: "AlexBrush-Regular";
  src: url("../fonts/AlexBrush-Regular.ttf"); }

@font-face {
  font-family: "PlayfairDisplay-Regular";
  src: url("../fonts/PlayfairDisplay-Regular.otf"); }

body {
  background-image: linear-gradient(to right top, #f2f2f2, #e8e6eb, #e0dae3, #daceda, #d5c1d0);
  background-repeat: no-repeat;
  background-attachment: fixed; }

h1 {
  color: #9A8C98;
  background-color: whitesmoke;
  text-align: center;
  font-size: 30pt;
  font-family: "AlexBrush-Regular"; }

h2 {
  font-family: "PlayfairDisplay-Regular";
  font-size: 25px;
  color: #707C95;
  text-align: left; }

h3 {
  font-family: "PlayfairDisplay-Regular";
  font-size: 20px;
  color: #707C95;
  text-align: left;
  margin-left: 40px; }

p {
  font-family: "PlayfairDisplay-Regular"; }

.schedule, .WhatsNew, .Event-Box, .ContactUs {
  background-color: whitesmoke;
  text-align: center;
  margin-bottom: 3%; }

nav {
  margin-bottom: 50px; }

.Home {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 0.5%;
  column-gap: 30%;
  place-items: center;
  place-content: center;
  align-content: flex-start;
  margin-bottom: 10%; }
  .Home .PoleDance {
    background-color: whitesmoke;
    border: 7px solid #7d667a;
    padding: 30px;
    box-align: center;
    padding: 30px; }
  .Home .UEvents {
    background-color: whitesmoke;
    border: 7px solid #7d667a;
    padding: 30px; }
  .Home .Newsletter {
    background-color: whitesmoke;
    border: 7px solid #7d667a;
    padding: 30px; }
    .Home .Newsletter input {
      width: 100%;
      margin: 0.5%; }
    .Home .Newsletter .SignUp {
      background-color: #556588;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-family: "PlayfairDisplay-Regular";
      width: 30%;
      font-size: medium;
      margin-top: 5%;
      margin-left: 70%; }

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 1%; }
  .button-container .backtohome {
    background-color: #556588;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "PlayfairDisplay-Regular";
    padding: 5px;
    width: auto;
    margin-top: 5%; }
    .button-container .backtohome :hover {
      color: darkgray; }

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  place-items: center;
  place-content: center;
  margin-top: 3%;
  margin-bottom: 0.5%;
  background-color: whitesmoke;
  padding-top: 1%;
  padding-bottom: 0.5%; }
  footer .Privacy {
    color: black; }

.NewsPage {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 0.5%;
  column-gap: 30%;
  place-items: center;
  place-content: center;
  align-content: flex-start;
  margin-bottom: 10%; }

.News {
  background-color: whitesmoke;
  border: 7px solid #7d667a;
  padding: 30px; }

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "PlayfairDisplay-Regular"; }

.magazine {
  background-color: whitesmoke;
  border: 7px solid #7d667a;
  padding: 30px; }

.magazine li a {
  display: block;
  text-align: justify;
  text-decoration: none;
  padding: 8px;
  background-color: #bebbb7; }

.Product-Container {
  background-color: whitesmoke;
  border: 7px solid #7d667a;
  padding: 30px;
  width: 100%; }

.products li a {
  text-align: justify;
  text-decoration: none;
  background-color: #bebbb7; }

li a:hover {
  background-color: #b79bb7; }

.carouselProducts {
  background-color: whitesmoke;
  border: 7px solid #7d667a;
  padding: 30px; }

.event-schedule li {
  display: block;
  margin: auto;
  text-align: center;
  font-weight: bold;
  font-family: "PlayfairDisplay-Regular";
  background-color: whitesmoke;
  width: 100%;
  margin-bottom: 10px;
  border: 7px solid #7d667a;
  padding: 15px; }

.iframe-container {
  width: 100%; }

.AboutUs {
  background-color: whitesmoke;
  border: 7px solid #7d667a;
  padding: 30px;
  width: auto;
  margin-bottom: 50px;
  margin: 2%; }

.FigureClass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "PlayfairDisplay-Regular"; }

.imageWidth {
  max-width: 100%;
  height: auto; }

.Event, .ContactBounce {
  background-color: #556588;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  font-family: "PlayfairDisplay-Regular";
  margin: auto;
  width: 25%;
  font-size: 15px;
  animation: bounce 1.5s infinite alternate; }

@keyframes bounce {
  to {
    transform: scale(1.2); } }

.table {
  background-color: #c8bcc6;
  width: auto;
  margin: auto;
  margin-bottom: 20px; }

.col-md-8 {
  background-color: whitesmoke;
  border: 7px solid #7d667a;
  padding: 30px; }

.Contact-Container {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .Contact-Container .NameEmail {
    width: 100%;
    border: 7px solid #7d667a;
    padding: 5px;
    margin-bottom: 4%; }
  .Contact-Container textarea {
    width: 100%;
    padding: 12px;
    border: 7px solid #7d667a;
    margin-top: 10px;
    margin-bottom: 10px; }
  .Contact-Container .input-container {
    display: flex;
    justify-content: space-between; }
  .Contact-Container input[type=submit] {
    width: 45%;
    background-color: #556588;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 12px;
    margin: 0%; }

.icon-Facebook {
  background-color: #4267B2;
  color: white;
  text-decoration: none;
  font-size: 2vmax;
  margin: 5px;
  padding-left: 5px;
  padding-top: 5px; }
  .icon-Facebook :hover {
    color: darkgray; }

.icon-Instagram {
  background-color: #E1306C;
  color: white;
  text-decoration: none;
  font-size: 2vmax;
  margin: 5px;
  padding-left: 5px;
  padding-top: 5px; }
  .icon-Instagram :hover {
    color: darkgray; }

.icon-Google {
  background-color: #4285F4;
  color: white;
  text-decoration: none;
  font-size: 2vmax;
  margin: 5px;
  padding-left: 5px;
  padding-top: 5px; }
  .icon-Google :hover {
    color: darkgray; }

.icon-Google {
  padding-right: 6px; }

@media screen and (min-width: 768px) {
  .Home {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 10%;
    column-gap: 5%;
    place-items: justify;
    place-content: justify;
    margin-left: 2%;
    margin-right: 2%; }
  h1 {
    font-size: 90pt; }
  body {
    background: url("../img/Poledance1.png");
    background-repeat: no-repeat;
    background-attachment: fixed; }
  .event-schedule li {
    width: 60%; }
  .iframe-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2%; }
  .FigureClass {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    align-content: space-evenly;
    font-family: "PlayfairDisplay-Regular"; }
  .ImgRight:hover {
    transform: scale(1.5) translateX(220px);
    transition: all 2s;
    padding: 3em;
    background-color: #bdacbb; }
  .ImgLeft:hover {
    transform: scale(1.5) translateX(-220px);
    transition: all 2s;
    padding: 3em;
    background-color: #bdacbb; }
  .Contact-Container {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .Contact-Container .NameEmail {
      border: 7px solid #7d667a;
      padding: 5px;
      margin-bottom: 1%; }
    .Contact-Container textarea {
      padding: 12px;
      border: 7px solid #7d667a;
      margin-top: 10px;
      margin-bottom: 10px; }
    .Contact-Container input[type=submit] {
      background-color: #556588;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      padding: 12px; }
  .NewsPage {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 10%;
    column-gap: 5%;
    place-items: justify;
    place-content: justify;
    margin-left: 2%;
    margin-right: 2%; } }
