* {
    box-sizing: border-box;
}
@import 'variables';

@font-face {
    font-family: "AlexBrush-Regular";
    src: url('../fonts/AlexBrush-Regular.ttf');
}

@font-face {
    font-family: "PlayfairDisplay-Regular";
    src: url('../fonts/PlayfairDisplay-Regular.otf');
}
@mixin ButtonDesign {
    background-color: $button-colour;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

@mixin TextboxDesign {
    background-color: $background-colour-text;
    border: $border;
    padding: $padding-text-box;
    
}
body {
    background-image: linear-gradient(to right top, #f2f2f2, #e8e6eb, #e0dae3, #daceda, #d5c1d0);
    background-repeat: no-repeat;
    background-attachment: fixed
    }

    h1 {
        color: $main-colour;
        background-color: $background-colour-text;
        text-align: center;
        font-size: 30pt;
        font-family: "AlexBrush-Regular";

    }

    h2 {
        font: {
            family: "PlayfairDisplay-Regular";
            size: 25px;
        }
        color: $secondary-colour;
        text-align: left;
    }

    h3 {
        font: {
            family: "PlayfairDisplay-Regular";
            size: 20px;
        }
        color: $secondary-colour;
        text-align: left;
        margin-left: 40px;

}

    p {
        font-family: $body-font;
    }

.schedule {
    background-color: $background-colour-text;
    text-align: center;
    margin-bottom: 3%;
}

nav{
    margin-bottom: 50px;
}

.Home {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 0.5%;
    column-gap: 30%;
    place-items: center;
    place-content: center;
    align-content: flex-start;
    margin-bottom: 10%;

    .PoleDance {
        @include TextboxDesign;
        box-align: center;
        padding: 30px;
    }

    .UEvents {
        @include TextboxDesign;
    
    }

    .Newsletter {
        @include TextboxDesign;

        input {
            width: 100%;
            margin: 0.5%;
        }
        .SignUp {
            @include ButtonDesign;
            font-family: $body-font;
            width: 30%;
            font-size: medium;
            margin-top: 5%;
            margin-left: 70%;
        }

    }
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 1%;
    .backtohome {
        @include ButtonDesign;
        font-family: $body-font;
        padding: 5px;
        width: auto;
        margin-top: 5%;
        :hover {
           color: darkgray;
    }
}
}


footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    place-items: center;
    place-content: center;
    margin-top: 3%;
    margin-bottom: 0.5%;
    background-color: $background-colour-text;
    padding-top: 1%;
    padding-bottom: 0.5%;

    .Privacy {
        color: black;
    }
}

//Page: News


.WhatsNew{
    @extend.schedule;
}
.NewsPage{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 0.5%;
    column-gap: 30%;
    place-items: center;
    place-content: center;
    align-content: flex-start;
    margin-bottom: 10%;
}
.News {
    @include TextboxDesign;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "PlayfairDisplay-Regular";
}

.magazine {
    @include TextboxDesign;
}
.magazine li a {
     display: block;
     text-align: justify;
     text-decoration: none;
     padding: 8px;
     background-color: rgb(190, 187, 183);
 }

.Product-Container {
    @include TextboxDesign;
    width: 100%;
}

.products li a {
    text-align: justify;
    text-decoration: none;
    background-color: rgb(190, 187, 183);
}
li a:hover {
    background-color: rgb(183, 155, 183);
}

.carouselProducts {
    @include TextboxDesign;
}








.Event-Box {
    @extend .schedule;
}

.event-schedule li {
    display: block;
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-family: $body-font;
    background-color: $background-colour-text;
    width: 100%;
    margin-bottom: 10px;
    border: $border;
    padding: 15px;

}

.iframe-container {
    width: 100%;
}

.AboutUs {
    @include TextboxDesign;
    width: auto;
    margin-bottom: 50px;
    margin: 2%;
}
.FigureClass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "PlayfairDisplay-Regular";
     }

.imageWidth {
    max-width: 100%;
    height: auto;
}

.Event {
    @include ButtonDesign;
    display: block;
    font-family: "PlayfairDisplay-Regular";
    margin:auto;
    width: 25%;
    font-size: 15px;
    animation: bounce 1.5s infinite alternate;
}

@keyframes bounce {
    to { transform: scale(1.2);
    }
}

.ContactBounce {
    @extend .Event;
}

.table {
    background-color: #c8bcc6;
    width: auto;
    margin: auto;
    margin-bottom: 20px;
}

.col-md-8 {
    @include TextboxDesign;
}

.ContactUs {
    @extend .schedule;
}

.Contact-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .NameEmail {
        width: 100%;
        border: $border;
        padding: 5px;
        margin-bottom: 4%;
    }

    textarea {   
        width: 100%;
        padding: 12px;
        border: $border;
        margin-top: 10px;
        margin-bottom: 10px;
     }

    .input-container {
        display: flex;
        justify-content: space-between;
     }
    input[type=submit] {
        width: 45%;
        @include ButtonDesign;
        padding: 12px;
        margin: 0%;
    }
}

  $socialmedia:(
Facebook:  #4267B2,
Instagram: #E1306C,
Google: #4285F4
);

@each $network, $color in $socialmedia {
    .icon-#{$network} {
        background-color: $color;
        color: white;
        text-decoration: none;
        font-size: 2vmax;
        margin: 5px;
        padding-left: 5px;
        padding-top: 5px;
        :hover {
            color: darkgray;
        }
    }
 }

 .icon-Google {
    padding-right: 6px;
 }

 @media screen and (min-width: 768px) {
    .Home {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 10%;
    column-gap: 5%;
    place-items: justify;
    place-content: justify;
    margin-left: 2%;
    margin-right: 2%;
    }
    h1 {
        font-size: 90pt;
    }
    body {
        background: url("../img/Poledance1.png");
        background-repeat: no-repeat;
        background-attachment: fixed
    }
    .event-schedule li {
        width: 60%;
        }
    .iframe-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 2%;
        }
    .FigureClass {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: baseline;
        align-content: space-evenly;
        font-family: "PlayfairDisplay-Regular";
         }
    @mixin IMGhover {
        transition: all 2s;
        padding: 3em;
        background-color: #bdacbb;
        }

    .ImgRight:hover {
        transform: scale(1.5) translateX(220px);
        @include IMGhover;
        }
        
    .ImgLeft:hover {
        transform: scale(1.5) translateX(-220px);
        @include IMGhover;
        }
       
    .Contact-Container {
            display: flex;
            flex-direction: column;
            justify-content: center;

        .NameEmail {
            border: $border;
            padding: 5px;
            margin-bottom: 1%;
            }
        
        textarea {   
            padding: 12px;
            border: $border;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        
        input[type=submit] {
            @include ButtonDesign;
            padding: 12px;
        }
    }    
    .NewsPage {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 10%;
        column-gap: 5%;
        place-items: justify;
        place-content: justify;
        margin-left: 2%;
        margin-right: 2%;
        }
}



